body {
  background: #f4f1ea;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  background: #2f5d50;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

/* NAVBAR */

.navbar {
  background: #1e3d34;
}

.navbar a {
  color: white !important;
}

/* SECCION PRINCIPAL */

.main-section {
  padding: 60px 0;
}

/* TARJETAS */

.card {
  border: none;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

/* CONTACTO */

.contact {
  background: #2f5d50;
  color: white;
  padding: 60px 20px;
}

/* FOOTER */

footer {
  background: #1e3d34;
  color: white;
  padding: 20px;
  text-align: center;
}
